{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": ["last 2 versions", "not dead", "not < 2%", "not ie 11"],
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ],
    ["@babel/preset-react", { "runtime": "automatic", "importSource": "@emotion/react" }]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime", // avoid librairie duplication in final bundle
    "@emotion/babel-plugin"
  ],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
