@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Dela+Gothic+One&family=Lato:wght@100;400&family=Train+One&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sticky {
  height: 40px;
  z-index: 1;
  position: fixed;
  padding: 5px;
  background: #fff;
  box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.sticky > div {
  display: flex;
}

.sticky > div > svg {
  width: 50px;
  height: 20px;
}

.sticky > div > p {
  font-size: 1.2rem;
}

.container-app {
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
}
